<div class= "container"> 

<div class = "row">
	<h2 class= "p-3 col-10">Hour Log </h2>
	<div class="p-3 col-2"> 
		<%= link_to "Log Hours", new_hourlog_path , class: 'btn btn-primary' %>
	</div>
</div>
<div class="row"> 
	<div class="col-9"> 
		<div class="page_info">
	      <%= page_entries_info @hourlogs %>
	    </div>
	</div>
	<div class="col-3"> 
		<%= will_paginate @hourlogs, :container => false %>
	</div>
</div>
<div class = "row">
	<div class="col"> 
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col"> Date </th>
		      <th scope="col">Name</th>
		      <th scope="col">Project</th>
		      <th scope="col">Worked on</th>
		      <th scope="col">Hours</th>
		      <th scope="col">Posted by</th>
		      <th scope="col">Actions</th>
		    </tr>
		  </thead>
		  <tbody class = "">
		  	<% @hourlogs.each do |h| %>
				  <div><tr>
				  	<td><p> <%= h.date.strftime('%B %d, %Y') %> </p></td>
				    <td><p><%= h.name %></p></td>
				    <td><p><%= @project.where(id: h.project_id).pluck(:name) %></p></td>
				    <td><p><%= h.description %></p></td>
				    <td><p><%= h.hours %></p></td>
				    <td><p> <% if h.user.present? %> <small><%= h.user.email %></small> <%end%></p></td>
				    <td><p><%= link_to 'Edit', edit_hourlog_path(h), class: 'btn btn-info'%> <%= link_to 'Delete', hourlog_path(h), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %></td>
				  </tr></div>

			<% end %>
		  </tbody>
		</table>
	</div>
</div>
</div>

