<div class="booyah-box col-10 offset-1">
  <h1>Edit Profile Details for </h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :fname, :label => "First Name" %>
    <%= f.input :lname, :label => "Last Name"%>
    <%= f.input :role, :label => "Role" %>
    <%= f.input :email, :label => "Email" %>
    <%= f.input :is_admin, :label => "Admin" %>
    <%= f.input :is_approved, :label => "Approved" %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>