<div class= "container"> 

<div class = "row">
	<h2 class= "p-3 col-10"> Team </h2> 
</div>
<div class = "row">
	<div class="col"> 
		<table class="table table-hover p-3">
		  <thead>
		    <tr>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col">Email</th>
		      <th scope="col">Role</th>
		      <th scope="col">Status</th>
		      <th scope="col">Type</th>
		      <th scope="col">Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @users.each do |user| %>
				  <div>
				    <td><p><%= user.fname %></p></td>
				    <td><i><%= user.lname %></i></td>
				    <td><p><%= user.email %></p></td>
				    <td><p><%= user.role %></p></td>
				    <td><p><% if user.is_approved %> Approved <% else %> Pending <% end %> </p></td>
				    <td><p><% if user.is_admin %> Admin <% else %> User <% end %></p></td>
				    <td><p><%= link_to 'Edit', edit_user_path(user) , class: 'btn btn-info' %> <% if user.deactivated %> <%= link_to 'Activate', user_path(user) , method: :delete, data: {confirm: 'Are you sure you want to activate this user?'},class: 'btn btn-light' %> <%else%> <%= link_to 'Deactivate', user_path(user) , method: :delete, data: {confirm: 'Are you sure you want to deactivate this user?'},class: 'btn btn-danger' %> <%end%> </p></td>
				  </tr></div>
			<% end %>
		  </tbody>
		</table>
	</div>
</div>
</div>