
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Description</th>
      <th scope="col">Plan</th>
      <th scope="col">Plan Hours</th>
      <th scope="col">Hours Worked</th>
    </tr>
  </thead>
  <tbody>
  	<% @projects.each do |project| %>
		  <div><tr>
		    <td><p><%= project.name %></p></td>
		    <td><i><%= project.description %></i></td>
		    <td><p><%= project.plan %></p></td>
		    <td><p><%= project.planhours %></p></td>
		    <td><p><%= project.thours %></p></td>
		  </tr></div>

		  <hr />
	<% end %>
  </tbody>
</table>

