<div class= "container"> 


<div class = "row">
	<h3 class = "p-3"><%= @project.name %>: Hourlog details </h3> </br>
</div>
<div class = "row p-3">
	<p>Hours worked for current cycle: <b><%=@hourlogs.where(project_id: @project.id, date: @project.starthourtrack..@project.starthourtrack+1.month).sum(:hours) %></b> 
		<br/> <i> (<%= @project.starthourtrack.strftime('%B %d, %Y') %> - <%= (@project.starthourtrack+1.month-1.day).strftime('%B %d, %Y') %> ) </i>
</div>

<div class="row"> 
	<div class="col-9"> 
		<div class="page_info">
	      <%= page_entries_info @hourlogs %>
	    </div>
	</div>
	<div class="col-3"> 
		<%= will_paginate @hourlogs, :container => false %>
	</div>
</div>

<div class = "row">
	<div class="col"> 
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name <i class="fa fa-plus-circle"></i></th>
		      <th scope="col">Worked on</th>
		      <th scope="col">Hours</th>
		      <th scope="col">Date</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @hourlogs.each do |hourlog| %>
				  <div>
				  	<td><p><%= hourlog.id %></p></td>
				    <td><p><%= hourlog.name %></p></td>
				    <td><p><%= hourlog.description %></p></td>
				    <td><p><%= hourlog.hours %></p></td>
				    <td><p><%= hourlog.date.strftime('%B %d, %Y') %></p></td>
				  </tr></div>
			<% end %>
		  </tbody>
		</table>
	</div>
</div>
<%= will_paginate @hourlogs, :page_links => false %>
</div>