<!DOCTYPE html>
<html>
  <head>
    <title>Hourly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark navbar-inverse p-3">
      <div class="navbar-brand" href="#">HYPERSPACE<span class = "font-weight-lighter">LOG</span></div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <% if user_signed_in? && current_user.is_approved && current_user.is_admin %>
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
              <li class ="nav-item">
                  <%= link_to 'Projects', projects_path, class: 'nav-link' %> 
              </li>
              <li class ="nav-item">
                  <%= link_to 'Hour Log', hourlogs_path, class: 'nav-link' %> 
              </li>
              <li class ="nav-item">
                  <%= link_to 'Team', users_index_path, class: 'nav-link' %> 
                </li>
        </ul>
        <% end %> 
        <ul class = "navbar-nav ml-auto mt-2 mt-md-0"> 

          <% if user_signed_in? && current_user.is_approved %>
          <li class ="nav-item">
              <%= link_to 'Log hours', new_hourlog_path, class: "btn btn-info" %> 
          </li>
            <li class="nav-item">
              <%= link_to 'My Profile', user_path(current_user), class: 'nav-link' %>
            </li>
        		<li class="nav-item"> 
        			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        		</li>
            
        	<% elsif user_signed_in? %> 
            <li class="nav-item"> 
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
        	<%end%>
        </ul> 
      </div>
    </nav>

    <% if notice.present? %> 
    	<p class="alert alert-info"><%= notice %></p>
    <%end %> 
    <% if alert.present? %> 
		<p class="alert alert-danger"><%= alert %></p>
	<% end %> 
    <%= yield %>
  </body>
</html>
